{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Tres En Uno - Cultivos Organicos - Sobre Nosotros</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <link href="{% static 'img/logo.jpg' %}" rel="icon">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet"> 

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    
    {% include 'miapp/barrabase.html' %}

    <div class="container-fluid page-header">
        <div class="container">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
                <h3 class="display-4 text-white text-uppercase">Nosotros</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="">Inicio</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Nosotros</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-5">
        <div class="container pt-5">
            <div class="row">
                <div class="col-lg-6" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="{% static 'img/nosotros1.jpg' %}" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 pt-5 pb-lg-5">
                    <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                        <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Nosotros</h6>
                        <h1 class="mb-3">Acuaponia: La nueva forma de cultivar</h1>
                        <p> La producción tradicional de hortalizas,enfrenta desafíos como el uso excesivo de agua, la degradación del suelo, con una dependencia de agroquímicos. La agroponía surge como una alternativa innovadora, al permitir el cultivo sin tierra, optimizando recursos y reduciendo el impacto ambiental.</p>
                        <p>Nuestra solución es un sistema modular de agroponía automatizada que integra tecnologías inteligentes para facilitar el cultivo de hortalizas en espacios reducidos, ya sea en hogares, escuelas, comunidades o zonas urbanas sin acceso a suelo fértil. Este sistema está diseñado para operar con sensores y automatización, permitiendo un control preciso del consumo de agua y nutrientes, logrando reducir hasta un 90% el uso hídrico en comparación con los métodos convencionales. Además, al eliminar la necesidad de agroquímicos y minimizar la intervención humana, promovemos una producción más limpia, saludable y eficiente. Nuestro enfoque fomenta la autosuficiencia alimentaria, la educación ambiental y el desarrollo de comunidades resilientes ante el cambio climático.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid pb-5">
        <div class="container pb-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="d-flex mb-4 mb-lg-0">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                            <i class="fa fa-2x fa-water text-white"></i>
                        </div>
                        <div class="d-flex flex-column">
                            <h5 class="">Reduccion Hidrica</h5>
                            <p class="m-0">Gracias al sistema de agroponía automatizada, se logra reducir hasta un 90% el uso de agua en comparación con los métodos tradicionales de cultivo. El sistema reutiliza el agua en circuito cerrado, haciendo más eficiente cada gota.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex mb-4 mb-lg-0">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                            <i class="fa fa-2x fa-check text-white"></i>
                        </div>
                        <div class="d-flex flex-column">
                            <h5 class="">Sin pesticidas</h5>
                            <p class="m-0">Nuestro sistema no requiere pesticidas ni fertilizantes químicos, lo que garantiza alimentos más saludables, seguros y libres de residuos tóxicos. Esto protege tanto al consumidor como al medio ambiente.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex mb-4 mb-lg-0">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                            <i class="fa fa-2x fa-recycle text-white"></i>
                        </div>
                        <div class="d-flex flex-column">
                            <h5 class="">Reutilziacion de Reciduos</h5>
                            <p class="m-0">El sistema está diseñado para reutilizar residuos orgánicos y convertirlos en nutrientes para las plantas, cerrando el ciclo de producción de forma sostenible. Esto reduce la generación de desechos y mejora la eficiencia del cultivo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'miapp/barrabaja.html' %}


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>

    <script src="{% static 'mail/jqBootstrapValidation.min.js' %}"></script>
    <script src="{% static 'mail/contact.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>